:host{
    scroll-behavior: smooth;
}
.faq-section {
    padding: 50px;
    width:55%;
    margin: auto;
    scroll-behavior: smooth;
  }
  
  .section-heading {
    font-size: 55px;
    width: 60%;
    margin: auto;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .expansion-panels {
    margin-bottom: 20px;
    transition: 2s ease;
  }
  
  .expansion-panel {
    margin-bottom: 10px;
    transition: 2s ease;
  }
  
  .panel-header {
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    transition: 2s ease;
  }
  
  .panel-header.expanded {
    transition: 2s ease;
  }
  
  .panel-content {
    padding: 10px;
    transition: 2s ease;
  }
  
.arrow{
    color: cyan;
    font-size: large;
    font-weight: bolder;
}

@media (max-width: 768px){
    .faq-section{
        width: 80%;
    }
    .section-heading{
        width: 100%;
    }
}